.grid-panel {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-cell {
    margin: 0px auto;
}

.analytic-data {
    margin-top: 50px;
    font-size: 35pt;
}

.analytic-field {
    margin: 25px;
}