<div class="content-container">
    <div class="content-area">
        <h3 class="welcome">Analytics</h3>
        <form [formGroup]="parametersControl">
            <div class="grid-panel">
                <div class="grid-cell">
                    <clr-spinner id="loadingShips" *ngIf="loading">Loading ships</clr-spinner>

                    <clr-combobox-container *ngIf="!loading">
                        <label>Ships</label>
                        <clr-combobox formControlName="ship" name="ship" clrMulti="true">
                            <ng-container *clrOptionSelected="let selected">
                                {{selected?.name}}
                              </ng-container>
                          <clr-options>
                            <clr-option *clrOptionItems="let ship of options.ships" [clrValue]="ship"> {{ship.name}}
                            </clr-option>
                          </clr-options>
                        </clr-combobox>
                      </clr-combobox-container>
                </div>
                <div class="grid-cell">
                    <clr-spinner id="loadingCrews" *ngIf="loading">Loading crews</clr-spinner>

                    <clr-combobox-container *ngIf="!loading">
                        <label>Crews</label>
                        <clr-combobox formControlName="crew" name="crew" clrMulti="true">
                            <ng-container *clrOptionSelected="let selected">
                                {{selected?.name}}
                              </ng-container>
                          <clr-options>
                            <clr-option *clrOptionItems="let crew of options.crews" [clrValue]="crew"> {{crew.name}}
                            </clr-option>
                          </clr-options>
                        </clr-combobox>
                      </clr-combobox-container>
                </div>
                <div class="grid-cell">
                    <clr-spinner id="loadingRoutes" *ngIf="loading">Loading crews</clr-spinner>

                    <clr-combobox-container *ngIf="!loading">
                        <label>Routes</label>
                        <clr-combobox formControlName="route" name="route" clrMulti="true">
                            <ng-container *clrOptionSelected="let selected">
                                {{selected?.from.name}} - {{selected?.to.name}}
                              </ng-container>
                          <clr-options>
                            <clr-option *clrOptionItems="let route of options.routes" [clrValue]="route"> 
                                {{route.from.name}} - {{route.to.name}}
                            </clr-option>
                          </clr-options>
                        </clr-combobox>
                      </clr-combobox-container>
                </div>
                <div class="grid-cell">
                    <clr-date-container>
                        <label>Start date</label>
                        <input clrDate placeholder="Pick a date" name="startDate" formControlName="startDate" />
                    </clr-date-container>
                </div>
                <div class="grid-cell">
                    <clr-date-container>
                        <label>Finish date</label>
                        <input clrDate placeholder="Pick a date" name="finishDate" formControlName="finishDate" />
                    </clr-date-container>
                </div>
                <div class="grid-cell">
                    <clr-select-container>
                        <label>Group by</label>
                        <select clrSelect name="groupBy" formControlName="groupBy">
                            <option value=""></option>
                            <option *ngFor="let groupBy of groupBys" value={{groupBy}}>{{groupBy}}</option>
                        </select>
                    </clr-select-container>
                </div>
                <div class="grid-cell">
                    <button (click)="updateAnalytics()" type="submit" class="btn btn-primary">Show</button>
                </div>
            </div>
        </form>
        <div class="analytic-data" *ngIf="showFull">
            <div class="analytic-field">
                Sum profit: {{aggregate.sum}}
            </div>
            <div class="analytic-field">
            Average profit:
            {{aggregate.avg}}
            </div>
            <div class="analytic-field">
            Number of expeditions:
            {{aggregate.count}}
            </div>
        </div>
        <div id="charts" class="analytic-data">
            <canvas class="canvas" id="sumChart"></canvas>
            <canvas class="canvas" id="averageChart"></canvas>
            <canvas class="canvas" id="countChart"></canvas>
        </div>
    </div>
</div>